*{
    box-sizing: border-box;
}
#tas{
    display: flex;
}
p{
    background-color:antiquewhite;
    border-radius: 25px;
    padding: 10px;
    width: 400px;
    margin: 25px;
}

#btn,#btndel{
    background-color: rgb(191, 212, 230);
    border: 2px solid rgb(7, 178, 201);
    border-radius: 5px;
    color:rgb(133, 127, 119);
    cursor: pointer;
}
#task{
    border-radius: 10px;
    border: 2px solid rgb(7, 178, 201);
    width: 400px;
    padding: 5px;
    margin-left: 25px;
    margin-top: 25px;
}
#btndel{
  height: 25px;
  position: relative;
  bottom: -30px;
}